[Desktop Entry]
Type=Application
Name=AnvilDroid
Comment=Manage Android apps and runtimes on Linux
Exec=anvildroid-gui
Icon=org.anvildroid.gui
Terminal=false
Categories=System;
